{#
// inputs:
#}

{% set panel = data('mobile-menu.json') %}

<div class="mobile-menu">
    <div class="mobile-menu__backdrop"></div>
    <div class="mobile-menu__body">
        <button class="mobile-menu__close" type="button">{{ svg('cross-12.svg') }}</button>
        {% include '/mobile/mobile-menu-panel.twig' with {inputs: {
            panel: panel,
        }} %}
    </div>
</div>
