{#
// inputs:
#}

<div class="card widget widget-search">
    <form action="" class="widget-search__form">
        <input class="widget-search__input" type="search" placeholder="Blog search...">
        <button class="widget-search__button">{{ svg('search-20.svg') }}</button>
        <div class="widget-search__field"></div>
    </form>
</div>
