{#
// inputs:
// - offcanvas: string - one of [none, mobile, always]
#}

{% set offcanvas = inputs.offcanvas %}

{% set root_classes = classnames('sidebar', 'sidebar--offcanvas--'~offcanvas) %}

<div class="{{ root_classes }}">
    <div class="sidebar__backdrop"></div>
    <div class="sidebar__body">
        <div class="sidebar__header">
            <div class="sidebar__title">Filters</div>
            <button class="sidebar__close" type="button">{{ svg('cross-12.svg') }}</button>
        </div>
        <div class="sidebar__content">
            {% include '/widgets/widget-filters.twig' with {inputs: {
                offcanvas: offcanvas,
            }} %}

            {% if offcanvas != 'always' %}
                {% include '/widgets/widget-products.twig' with {inputs: {
                    classes: offcanvas == 'mobile' ? 'd-none d-lg-block' : '',
                }} %}
            {% endif %}
        </div>
    </div>
</div>
