{#
// inputs:
#}

<div class="timer">
    <div class="timer__part">
        <div class="timer__part-value timer__part-value--days">02</div>
        <div class="timer__part-label">Days</div>
    </div>
    <div class="timer__dots"></div>
    <div class="timer__part">
        <div class="timer__part-value timer__part-value--hours">23</div>
        <div class="timer__part-label">Hrs</div>
    </div>
    <div class="timer__dots"></div>
    <div class="timer__part">
        <div class="timer__part-value timer__part-value--minutes">07</div>
        <div class="timer__part-label">Mins</div>
    </div>
    <div class="timer__dots"></div>
    <div class="timer__part">
        <div class="timer__part-value timer__part-value--seconds">54</div>
        <div class="timer__part-label">Secs</div>
    </div>
</div>
