{% set global_header_layout = global_header_layout|default('spaceship') %}
{% set global_mobile_header_style = 'style.mobile-header-variant-two.css' %}
{% set global_page_title = 'Mobile Header Variant Two — Red Parts' %}
{% set global_page_description = '' %}

{% extends '/layouts/default.twig' %}

{% block site_body %}
    {% include '/blocks/block-space.twig' with {inputs: {layout: 'divider-lg'}} %}

    <div class="container text-center py-5 my-5 text-muted">
        Mobile header variant two
    </div>

    {% include '/blocks/block-space.twig' with {inputs: {layout: 'divider-lg'}} %}
{% endblock %}
